* {
    margin: 0;
    padding: 0;
}

.first {
    color: black;
    background-color: peru;
}

.second {
    color: black;
    background-color: aquamarine;
}

.third {
    color: black;
    background-color: blueviolet;
}