#button {
    height: 20px;
    width: 80px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: aliceblue;
}

#button:hover {
    height: 25px;
    width: 85px;
    border: 1px solid red;
}

#button:active {
    height: 25px;
    width: 85px;
    border: 1px solid red;
    background-color: indianred;
}